.container {
    display: flex;
    justify-content: space-evenly;
}

.container div {
    margin: 5px;
}

.score div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.box div {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.box div div{
    height: 75px;
    width: 70px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.box div div img {
    width: 100%;
}
  
/* Grey shades = #464647 and #29292b
.win-glow {*/
    /*border: 3px solid  #4dcc7d !important; 
    box-shadow: 0 0 0 10px #31b43a;*//*
    background-color: #4dcc7d;
}

.win-glow-2 {
    background-color: #31b43a;
}

.lose-glow {
    background-color: #fc121b;
}

.lose-glow-2 {
    background-color: #d01115;
}
*/